.card-link {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-link:hover {
    transform: translate(5px, 5px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.card-link .card {
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-link:hover .card {
    transform: translate(5px, 5px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.custom-input {
    border: 1px solid black;
    background-color: transparent !important;
    color: black; 
    box-shadow: none !important;
}